body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.6;
    color 333;
}
body {
    padding: 0px;
}
.background {
    background-image:
        url(../images/background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 22px;
    max-width: 240px;
    color: white;
    text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
}
h2 {
    position: absolute;
    top: 150px;
    left: 30px;
    font-size: 15px;
    max-width: 200px;
    color: #808080;
}
h3 {
    position: absolute;
    top: 950px;
    left: 750px;
    font-size: 15px;
    color: white;
}
h4 {
    position: absolute;
    top: 850px;
    left: 55px;
    max-width: 270px;
    color: silver;
    font-family: cursive;
    text-shadow: 1px 0px 1px rgba(0,0,0,0.3);
}

.map {
    box-shadow: 0px 0px 15px 5px #000;
}